Node-Red web app/flows.json
[{"id":"b7a2c989.e9d648","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"28eb870e.c5b4f8","type":"ui_form","z":"b7a2c989.e9d648","name":"","label":"ATTRIBUTES","group":"3a563fcb.a5e9d","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"HeartBeat","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"Palpitation","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"Cholesterol","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"FamilyHistory","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"Smoker","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"Exercise","type":"number","required":true,"rows":null}],"formValue":{"HeartBeat":"","Palpitation":"","Cholesterol":"","BMI":"","AGE":"","SEX":"","FamilyHistory":"","Smoker":"","Exercise":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":240,"wires":[["796dfb01.c7a444","3eb06a5.d6b9d96"]]},{"id":"796dfb01.c7a444","type":"debug","z":"b7a2c989.e9d648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":320,"wires":[]},{"id":"3eb06a5.d6b9d96","type":"function","z":"b7a2c989.e9d648","name":"pre-token","func":"global.set(\"HeartBeat\",msg.payload.HeartBeat)\nglobal.set(\"Palpitation\",msg.payload.Palpitation)\nglobal.set(\"Cholesterol\",msg.payload.Cholesterol)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"SEX\",msg.payload.SEX)\nglobal.set(\"FamilyHistory\",msg.payload.FamilyHistory)\nglobal.set(\"Smoker\",msg.payload.Smoker)\nglobal.set(\"Exercise\",msg.payload.Exercise)\n\nvar apikey=\"0d_k2H7TkeVE6_we1yw3XIsC_U4RuE7aQqolelDiLGP9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["ab042e1.6253bd"]]},{"id":"ab042e1.6253bd","type":"http request","z":"b7a2c989.e9d648","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":224.00000286102295,"wires":[["1c4ce22b.12f89e","eeb47bf0.a2ec08"]]},{"id":"1c4ce22b.12f89e","type":"debug","z":"b7a2c989.e9d648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":280,"wires":[]},{"id":"eeb47bf0.a2ec08","type":"function","z":"b7a2c989.e9d648","name":"Pre Prediction","func":"var HeartBeat = global.set(\"HeartBeat\",msg.payload.HeartBeat)\nvar Palpitation = global.set(\"Palpitation\",msg.payload.Palpitation)\nvar Cholesterol = global.set(\"Cholesterol\",msg.payload.Cholesterol)\nvar BMI = global.set(\"BMI\",msg.payload.BMI)\nvar AGE = global.set(\"AGE\",msg.payload.AGE)\nvar SEX = global.set(\"SEX\",msg.payload.SEX)\nvar FamilyHistory = global.set(\"FamilyHistory\",msg.payload.FamilyHistory)\nvar Smoker = global.set(\"Smoker\",msg.payload.Smoker)\nvar Exercise =global.set(\"Exercise\",msg.payload.Exercise)\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\n\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[HeartBeat,Palpitation,Cholesterol,BMI,AGE,SEX,FamilyHistory,Smoker,Exercise]]}]}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":176.0000021457672,"wires":[["ee367a39.aefec8"]]},{"id":"ee367a39.aefec8","type":"http request","z":"b7a2c989.e9d648","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/5faa4d90-8469-4e8d-a443-a97dbc3da9a4/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["7954a8f4.33fdd8","8a59122d.a50d8"]]},{"id":"7954a8f4.33fdd8","type":"debug","z":"b7a2c989.e9d648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":982.9999914169312,"y":284.00000381469727,"wires":[]},{"id":"fd9a66d5.f464f8","type":"inject","z":"b7a2c989.e9d648","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["3eb06a5.d6b9d96"]]},{"id":"615489cb.d2b6d8","type":"debug","z":"b7a2c989.e9d648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":67.0000057220459,"wires":[]},{"id":"8a59122d.a50d8","type":"function","z":"b7a2c989.e9d648","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":108.00000190734863,"wires":[["615489cb.d2b6d8","db70aa61.1f1798"]]},{"id":"db70aa61.1f1798","type":"ui_text","z":"b7a2c989.e9d648","group":"3a563fcb.a5e9d","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":341.20001220703125,"wires":[]},{"id":"3a563fcb.a5e9d","type":"ui_group","z":"","name":"PATIENT DETAILS","tab":"713b8ee4.6e6da","order":3,"disp":true,"width":"6","collapse":false},{"id":"713b8ee4.6e6da","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]